$primary-color: #b59a60;
$secondary-color: #302a22; 
$neutral-light: #f9f8f6;
$neutral-dark: #444;
$heading-color: #1f1c19;

$font-primary: 'Open Sans', sans-serif;
$font-heading: 'Playfair Display', serif;

$header-height: 80px;

// For more spacing consistency
$spacing-section: 4rem;