@import '../../styles/abstracts/variables';

.bookingForm {
  background-color: #fff;
  padding: 2rem;
  margin: -4rem auto 2rem;
  width: 90%;
  max-width: 1200px;
  border-radius: 6px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;

  form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .formGroup {
      flex: 1 1 calc(50% - 1rem);
      min-width: 150px;
      display: flex;
      flex-direction: column;

      label {
        font-weight: 600;
        margin-bottom: 0.4rem;
        color: $secondary-color;
        font-family: $font-heading;
      }

      input,
      select {
        padding: 0.6rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-family: $font-primary;
        background-color: #fafafa;
        font-size: 1rem;
      }
    }

    button {
      flex: 1 1 100%;
      background-color: $primary-color;
      color: #fff;
      padding: 0.8rem 2rem;
      border: none;
      border-radius: 30px;
      font-weight: 600;
      box-shadow: 0 3px 8px rgba($primary-color, 0.3);
      text-align: center;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  // Responsive adjustments
  @media (max-width: 768px) {
    form {
      flex-direction: column;

      .formGroup {
        flex: 1 1 100%;
      }

      button {
        margin-top: 1rem;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 1.5rem;
    margin: -3rem auto 1rem;

    form {
      gap: 0.5rem;

      .formGroup {
        label {
          font-size: 0.9rem;
        }

        input,
        select {
          padding: 0.5rem;
          font-size: 0.9rem;
        }
      }

      button {
        padding: 0.7rem 1.5rem;
        font-size: 0.9rem;
      }
    }
  }
}